@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f5f6f8;
    color: #333;
}

.container {
  width: 530px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.regist-container {
  padding: 14px 18px;
  border-radius: 12px;
  border: 3px solid #b8b8b8;
  font-size: 22px;
  background: #ffffff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  width: 90%;
}

.regist-container input {
    width: 95%;
    padding: 12px 14px;
    margin-bottom: 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.regist-container input:focus {
    border-color: #12ede8;
}

.container h1 {
    margin-top: 0;
    text-align: center;
    color: #222;
}

.regist-btn {
    display: inline-block;
    padding: 10px 16px;
    background-color: #12ede8;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.regist-btn:hover {
    background-color: #2fd0cc;
}

.regist-btn-wrap {
	text-align: right;	
}